<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Demo para EvoluFarma desarrollado en MEAN.JS</strong>
            </div>
            <div class="panel-body">
                <p>Para utilizar esta demo se pueden realizar las siguientes opciones:</p>
                <ul>
                    <li><strong>Entrar</strong>, para acceder al login de acceso y validarse</li>
                    <li><strong>Registrarse</strong>, para registrarse y poder entrar a la aplicación</li>
                </ul>
                <p>Sólo cuando esté logueado se podrá:</p>
                <ul>
                    <li>Pulsar en '<strong>Datos de Usuario</strong>', para ver en detalle sus datos</li>
                    <li>Pulsar en '<strong>Trabajar</strong>', para introducir datos</li>
                    <li>Pulsar en '<strong>Salir</strong>', para abandonar la aplicación</li>
                </ul>
            </div>
        </div>
    </div>
</div>
