<div class="row" data-ng-controller="WorkCtrl">
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <strong>Introducción de datos</strong>
          </div>
          <div class="panel-body">
            Tabla con los datos de fecha/valor
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <strong>Interpretación gráfica de los datos</strong>
          </div>
          <div class="panel-body">
            Espacio con el gráfico de interpretación de los datos
          </div>
      </div>
    </div>
</div>
