<div class="row" data-ng-controller="WorkCtrl">
    <div class="col-sm-6 col-xs-12">
      <div id="panel-datos" class="panel panel-primary">
          <div class="panel-heading">
              <strong>Introducción de datos</strong>
          </div>
          <div class="panel-body">
            <div class="panel-datos">

              <form name="dataForm" ng-submit="newData()"
                  class="form-horizontal" role="form">

                <div class="form-group">
                  <label for="date" class="col-md-2 col-sm-2 col-xs-2 control-label">Fecha</label>
                  <div class="col-md-6 col-sm-8 col-xs-4">
                    <input kendo-date-picker class="form-control"
                          placeholder="dd/mm/aaaa" pattern="^\d{2}\/\d{2}\/\d{4}$"
                           ng-model="date"
                           k-ng-model="objDate"
                           k-culture="es-ES"
                           required/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="value" class="col-md-2 col-sm-2 col-xs-2 control-label">Valor</label>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <input type="number" min="0" max="100" id="value" ng-model="value" placeholder="0..100" class="form-control" required>
                  </div>
                  <div class="col-md-offset-3 col-md-2 col-sm-offset-1 col-sm-1 col-xs-offset-2 col-xs-1">
                    <button type="submit" class="btn btn-primary">
                      <i class="glyphicon glyphicon-plus"></i> Añadir
                    </button>
                  </div>
                </div>

              </form>

              <div class="tabla-datos">
                <table class="table table-striped">
                  <thead>
                    <th>Fecha</th><th>Valor</th><th></th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="dataline in datas | orderBy: 'date'">
                      <div>

                        <form>
                          <td>
                              <div ng-show="canEdit">
                                <input name="date" type="text" ng-model="dataline.dateString"
                                  class="form.control edit-input-date" pattern="^\d{2}\/\d{2}\/\d{4}$" required>
                              </div>
                              <div ng-hide="canEdit">
                                {{ dataline.date | date:'dd/MM/yyyy' }}
                              </div>
                          </td>
                          <td>
                              <div ng-show="canEdit">
                                <input name="value" type="number" min="0" max="100" ng-model="dataline.value"
                                  class="form.control edit-input-value" required>
                              </div>
                              <div ng-hide="canEdit">
                                {{ dataline.value }}
                              </div>
                          </td>
                          <td>
                            <button ng-click="modify(form)" ng-show="canEdit" class="transparent-button" title="grabar">
                                <span class="glyphicon glyphicon-ok icon icon-ok"></span>
                            </button>
                            <a href="" ng-hide="canEdit" ng-click="canEdit = true" title="modificar" class="glyphicon glyphicon-edit icon icon-edit" role="button"></a>
                            <a href="" ng-show="canEdit" ng-click="resetFields()" title="cancelar" class="glyphicon glyphicon-remove icon icon-remove" role="button"></a>
                            <a href="" ng-hide="canEdit" ng-click="deleteData()" title="eliminar" class="glyphicon glyphicon-trash icon icon-trash" role="button"></a>
                          </td>
                        </form>

                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div id="panel-graficos" class="panel panel-primary">
          <div class="panel-heading">
              <strong>Interpretación gráfica de los datos</strong>
          </div>
          <div class="panel-body">
            <div class="panel-datos">
              <div class="container">
                <div class="row row-centered">
                  <div class="col-centered"><h4>Diagrama de línea</h4></div>
                </div>
              </div>
              <div class="wrap-chart">
                <div id="chart"></div>
              </div>
            </div>
          </div>
      </div>
    </div>

</div>
